@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@700;900&display=swap');

@import url('footer.css');
@import url('productos.css');
@import url('colores.css');
@import url('empleados.css');
@import url('comidas.css');
@import url('search.css');
@import url('vent_emergen.css');

:root{
    --color-vino: #370617;
    --amarillo: #f48c06;
    --azul-fuerte: #03071E;
    --azul-opacity-50: #03071e88;
    --blanco: #ffff;
    --bg-dark: #212529;
    --color-aprobado: #65bd08;
    --color-reprobado: #c1121f;

    /* Banchscrich FUENTE */
    --Banchscrich-font: 'Roboto', sans-serif;; 
        --weigth-BH-normal: 400;
        --weigth-BH-ligth: 300;
        --weigth-BH-bold: 700;

    /* FRANKLIN FUENTE */
    --franklin-font: 'Libre Franklin', sans-serif;
        --weight-FKlin-700: 700;
        --weigth-Flin-900: 900;
}

body{
    margin: 0;
    padding: 0;
    font-family: var(--Banchscrich-font);
}

.pdd_border{
    padding-left: 50px;
    padding-right: 50px;
}

.contenedor{
    width: 90%;
    margin: 0 auto;
    padding: 80px 0;
    max-width: 1200px;
}

.hero{
    height: 100vh;
    background-image: url('../Imagenes/hamburguesas.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}   
    .hero>div{
        background-color: rgba(0, 0, 0, .3);
    }

.hero  .contenedor{
    padding: 30px;
}

.nav{
    padding: 20px 50px;
    display: flex;
    align-items: center;
    font-weight: 700;
    align-content: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
    .scrolling{
        background-color: var(--color-vino);
    }
.nav .logo{
    flex: 0 1 auto;
    padding: 0 30px 0 10px;
}
    .logo>img{
        width: 70px;
    }
.nav .nav__navegacion{
    flex: 1 1 auto;
    justify-content: flex-start;
}

.nav .nav__botones{   
    flex: 0 1 auto;
    display: flex;
    align-items: center;
}
    .nav__botones.bolsita{
        position: relative;
    }
    .bolsita>.contador{
        background-color: var(--blanco);
        width: 23px;
        height: 23px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: var(--color-vino);
        font-size: .9rem;

        position: absolute;
        bottom: -5px;
        right: -10px;
    }


.nav__items{
    color: var(--blanco);
    padding: 0 20px;
    text-align: center;
    text-decoration: none;
    font-family: var(--Banchscrich-font);
}

.nav__items--cta{
    border: 2px solid var(--blanco);
    width: 100px;
    border-radius: 10px;
    padding: 7px 15px;
    margin-right: 20px;   
    font-size: .9rem;
}
    .nav__items--cta.register{
        background-color: var(--blanco);
        color: var(--color-vino);
    }

.her__container{
    padding-top: 70px;
    display: flex;
    align-items: center;
    height: calc(100vh - 70px);   
    color: var(--blanco);
}
    .hero__texto{
        padding-left: 50px;
    }
    .hero__texto>p{
        margin: 0;
    }

.hero__titulo{
    font-size: 3.5rem;
    margin: 0;
    font-family: var(--franklin-font);
    font-weight: var(--weigth-Flin-900);
}
    .grand__text{
        font-size: 8rem;
        margin: -50px 0 -30px -5px;
        font-family: var(--franklin---font);
        font-weight: var(--weigth-Flin-900);
    }

.hero__subtitulo{
    font-size: 1.7rem;
    display: flex;
    width: 450px;
    font-family: var(--Banchscrich-font);
    font-weight: var(--weigth-BH-ligth);
}
.hero__subtitulo.text{
    font-size: 1.2rem;
}



/* ventana emergente de registro*/
.form__titulo {
    font-family: var(--franklin-font);
    font-weight: var(--weigth-Flin-900);
    background: white;
    color: #f48c06;
    margin:0;
    text-align: center;
    font-size: 40px;
}
    .registro {
        background: white;
        display: none;
        /* border: 1px solid #f48c06; */
        position: fixed;
        top: 0;
        right: 0;
        z-index: 2;
        bottom: 0;    
    }
    .contenedor_registro{
        padding: 20px 0;
    }
    .nombre {
        grid-template-columns: 1fr 1fr;
        position: relative;
        display: grid;
        gap: 2px;
    }
    .input-100 {
        width: 90%;
    }
    /*hasta aqui arriba*/   
    
    
  
    .input-contenedor {        
        flex-wrap: wrap;
    }
        .input-contenedor div>p{
            margin: 0;
            padding-bottom: 15px;
        }
        .two_element{
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
            .two_element>p{
                width: 100%;
            }
            .two_element>.leeft{
                margin-left: 15px;
                overflow: hidden;
            }
            .two_element>.riigth{
                margin-right: 15px;
                overflow: hidden;
            }
            .input-48 {
                width: 100%;
                padding: 0;
            }
    
    .input-contenedor label{
        display: block;
        font-family: var(--Banchscrich-font);
        color: var(--azul-fuerte);
        font-weight: var(--weigth-BH-normal);
        padding: 5px 0 10px 0;
    }
    .input-contenedor .input-100, .input-48{
        width: 92%;
        display: block;
        padding: 7px 10px;
    }
        .input-contenedor .input-48{
            width: 85%;
        }
    
    /* HEADER DE LA VENTANA */
    .arriba {
        margin: 0;
    }
    .colum {
        margin: 20px 0 0 0;
        display: flex;
        justify-content: center;
        position: relative;
    }
    .colum>a {        
        position: absolute;
        padding: 10px 20px;
        background-color: var(--color-vino);
        top: 0;
        left: 0;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    .colum a>img{
        height: 30px;
    }
    .formulario {
        padding: 0 50px 30px 50px;
    }

    .pie-form{
        padding: 10px 0 25px 0;
    }
    .btn-enviar {
        width: 100%;
        background: #f48c06;
        padding: 10px;
        border: 3px solid #f48c06;
        cursor: pointer;
        font-size: 1rem;
        font-weight: bolder;
    }
  
    .btn-enviar:active {
        transform: scale(1.05);
    }

    .form__link {
        width: 100%;
        margin: 7px;
        font-size: .9rem;
        font-weight: bolder;
        padding: 15px 0;
        text-align: center;
        color: var(--azul-fuerte);
    }
        .form__link>a{
            text-decoration: none;
            color: #D00000;
            margin-left: 10px;
        }


/*Edit Mendoza xd*/
.info-luchin{
    width: 90%;
    margin: 0 auto;
}
.topic-category.name_luchin{
    text-align: center;
    font-size: 60px ;
    color: #D00000;
}
.flex_group{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.descri_img, .img_lu{
    margin: auto;
    width: 50%;
    max-height: 300px;
    overflow: hidden;
    padding: 20px 50px;
    justify-content: center;
    text-align: center;
    align-items: center;
}
    .descri_img .description{
        width: 80%;
        margin: auto;
        font-family: var(--Banchscrich-font);
        font-size: 1.5rem;
        color: var(--azul-fuerte);
    }
.img_luchin{
    width: 100%;
}



/* SECTION CARROUSEL  */
.container_carrousel{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.topic-category{
    font-family: var(--Banchscrich-font);
    font-weight: var(--weigth-BH-ligth);
    color: var(--azul-fuerte);
    font-size: 5rem;
}
.carrousel{
    display: flex;
}
.carrousel_item{
    width: 33.33%;
    position: relative;
    overflow: hidden;
}
    .carrousel_item>img{
        width: 100%;
    }
    
.carrousel_item>.detalle:hover{
    background-color: rgba(0, 0, 0);
}
.carrousel_item>.detalle{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 46%;
    background-color: rgba(0, 0, 0, .8);
    font-family: var(--Banchscrich-font);

    transition: all ease .3s;
}
    .detalle .topic, .btn__category{
        justify-content: center;
    }
    .topic{
        height: 45%;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
    }
    .btn__category{
        height: 55%;
        padding-top: 40px;
    }

    .detalle .topic>p{
        margin: 0;
        font-size: 1.8rem;
        font-weight: var(--weigth-BH-ligth);
        text-transform: uppercase;
        color: var(--blanco);
    }

    .btn_btn_mas:hover{
        background-color: var(--blanco);
        color: var(--azul-fuerte);
    }
    .btn_btn_mas{
        padding: 15px 20px;
<<<<<<< HEAD
        border: 1.5px solid var(--blanco);  
=======
        border: 1.5px solid var(--blanco);
>>>>>>> 6e577a009e3c4e861fbc6d87706508f50886471c
        font-size: 1rem;
        text-decoration: none;
        font-weight: var(--weigth-BH-ligth);
        width: 130px;
        text-transform: uppercase;
        color: var(--blanco);

        transition: all ease .5s;
    }